<% include ../partials/header %>




<div class="container login ">
    <h1>Ayarlarınızı Güncelleyin</h1>
    <form action="/<%=user%>/settings" method="post">
      <div class="form-group">
        <label>İvmeölçer ve Jiroskop Aralığı</label>
        <input type="text" class="form-control" name="acc"  value=<%=set.acc%>>
      </div>
      <div class="form-group">
            <label>OBD Aralığı</label>
            <input type="text" class="form-control" name="obd"  value=<%=set.obd%>>
          </div>
        <div class="form-group">
            <label>GPS Aralığı</label>
            <input type="text" class="form-control" name="gps"  value=<%=set.gps%>>
            </div>
        <div class="form-group">
                <label>Android Telefon ve Saat Aralığı</label>
                <input type="text" class="form-control" name="android"  value=<%=set.android%>>
            </div>
      
      <button type="submit" class="btn btn-primary">Güncelle</button>
    </form>
    </div>








<% include ../partials/footer %>